/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');*/

/*TODO: add @import google font */

body {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.8rem;
    color: #212121;
}

.uk-legend{
    font-family: "IBM Plex Sans", sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #cdcdcd;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #696969;
}

.axis text.label {
    fill: #212121;
}

.axis .tick text {
    font-family: inherit;
    font-size: 1.2em;
}

#kernel_chart {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.8rem;
    width: calc(20vw + 100px);
    height: calc(20vw + 100px);
    min-width: 10rem;
    max-height: 50vh;
    border-right: 0.1rem solid #cdcdcd;
    border-bottom: 0.1rem solid #cdcdcd;
}

#kernel_chart .axis text.label {
    fill: #212121;
}

#options{
    width: calc(20vw - 50px);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    min-width: 10rem;
    border-left: 0.1rem solid #cdcdcd;
    min-height: calc(100vh - 100px);
    padding: 50px 50px 50px 50px;
    z-index: 2;
}

#options .uk-legend{
    font-weight: bold;
    font-size: 1.3rem;
}

.uk-alert{
    position: absolute;
    top: 0;
    right: calc(20vw + 50px);
    left:0;
    font-size: 1rem;
    z-index: 1;
}

/*.svg-container {*/
/*display: inline-block;*/
/*position: relative;*/
/*width: 100%;*/
/*padding-bottom: 100%;*/
/*vertical-align: top;*/
/*overflow: hidden;*/
/*}*/
/*.svg-content {*/
/*display: inline-block;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*}*/


/*!* Toggle *!*/
/*#toggle{*/
/*position: absolute;*/
/*right: 50px;*/
/*top: 50px;*/
/*}*/

/*#toggle span{*/
/*font-weight:bold;*/
/*font-size:1.2rem;*/
/*margin-right:1rem;*/
/*}*/

/*#toggle label{*/
/*float:right;*/
/*}*/

/*.tgl {*/
/*display: none;*/
/*}*/
/*.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {*/
/*box-sizing: border-box;*/
/*}*/
/*.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {*/
/*background: none;*/
/*}*/
/*.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {*/
/*background: none;*/
/*}*/
/*.tgl + .tgl-btn {*/
/*outline: 0;*/
/*display: block;*/
/*width: 4em;*/
/*height: 2em;*/
/*position: relative;*/
/*cursor: pointer;*/
/*-webkit-user-select: none;*/
/*-moz-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*}*/
/*.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {*/
/*position: relative;*/
/*display: block;*/
/*content: "";*/
/*width: 50%;*/
/*height: 100%;*/
/*}*/
/*.tgl + .tgl-btn:after {*/
/*left: 0;*/
/*}*/
/*.tgl + .tgl-btn:before {*/
/*display: none;*/
/*}*/
/*.tgl:checked + .tgl-btn:after {*/
/*left: 50%;*/
/*}*/

/*.tgl-light + .tgl-btn {*/
/*background: #f0f0f0;*/
/*border-radius: 2em;*/
/*padding: 2px;*/
/*transition: all .4s ease;*/
/*}*/
/*.tgl-light + .tgl-btn:after {*/
/*border-radius: 50%;*/
/*background: #fff;*/
/*transition: all .2s ease;*/
/*}*/
/*.tgl-light:checked + .tgl-btn {*/
/*background: #9FD6AE;*/
/*}*/


/* MODAL */

/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    z-index: 4;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    font-size: 1rem;
}

.modal__btn {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}


.NEU{
    color: #BCBEC0;
}
.FER{
    color: #5e94cf;
}
.HAP{
    color: #e7c540;
}
.SAD{
    color: #d27e35;
}
.SUR{
    color: #88579f;
}
.DIS{
    color: #6ab79a;
}
.ANG{
    color: #ce4d41;
}
.CAL{
    color: #ce34bd;
}

.NEU .uk-checkbox:checked{
    background-color : #BCBEC0;
}
.FER .uk-checkbox:checked{
    background-color : #5e94cf;
}
.HAP .uk-checkbox:checked{
    background-color : #e7c540;
}
.SAD .uk-checkbox:checked{
    background-color : #d27e35;
}
.SUR .uk-checkbox:checked{
    background-color : #88579f;
}
.DIS .uk-checkbox:checked{
    background-color : #6ab79a;
}
.ANG .uk-checkbox:checked{
    background-color : #ce4d41;
}
.CAL .uk-checkbox:checked{
    background-color : #ce34bd;
}


#emotions label {
    font-weight: bold;
}

/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');*/

/*TODO: add @import google font */

body {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.8rem;
    color: #212121;
}

.uk-legend{
    font-family: "IBM Plex Sans", sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #cdcdcd;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #696969;
}

.axis text.label {
    fill: #212121;
}

.axis .tick text {
    font-family: inherit;
    font-size: 1.2em;
}

#kernel_chart {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.8rem;
    width: calc(20vw + 100px);
    height: calc(20vw + 100px);
    min-width: 10rem;
    max-height: 50vh;
    border-right: 0.1rem solid #cdcdcd;
    border-bottom: 0.1rem solid #cdcdcd;
}

#kernel_chart .axis text.label {
    fill: #212121;
}

#options{
    width: calc(20vw - 50px);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    min-width: 10rem;
    border-left: 0.1rem solid #cdcdcd;
    min-height: calc(100vh - 100px);
    padding: 50px 50px 50px 50px;
    z-index: 2;
}

#options .uk-legend{
    font-weight: bold;
    font-size: 1.3rem;
}

.uk-alert{
    position: absolute;
    top: 0;
    right: calc(20vw + 50px);
    left:0;
    font-size: 1rem;
    z-index: 1;
}

/*.svg-container {*/
/*display: inline-block;*/
/*position: relative;*/
/*width: 100%;*/
/*padding-bottom: 100%;*/
/*vertical-align: top;*/
/*overflow: hidden;*/
/*}*/
/*.svg-content {*/
/*display: inline-block;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*}*/


/*!* Toggle *!*/
/*#toggle{*/
/*position: absolute;*/
/*right: 50px;*/
/*top: 50px;*/
/*}*/

/*#toggle span{*/
/*font-weight:bold;*/
/*font-size:1.2rem;*/
/*margin-right:1rem;*/
/*}*/

/*#toggle label{*/
/*float:right;*/
/*}*/

/*.tgl {*/
/*display: none;*/
/*}*/
/*.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {*/
/*box-sizing: border-box;*/
/*}*/
/*.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {*/
/*background: none;*/
/*}*/
/*.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {*/
/*background: none;*/
/*}*/
/*.tgl + .tgl-btn {*/
/*outline: 0;*/
/*display: block;*/
/*width: 4em;*/
/*height: 2em;*/
/*position: relative;*/
/*cursor: pointer;*/
/*-webkit-user-select: none;*/
/*-moz-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*}*/
/*.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {*/
/*position: relative;*/
/*display: block;*/
/*content: "";*/
/*width: 50%;*/
/*height: 100%;*/
/*}*/
/*.tgl + .tgl-btn:after {*/
/*left: 0;*/
/*}*/
/*.tgl + .tgl-btn:before {*/
/*display: none;*/
/*}*/
/*.tgl:checked + .tgl-btn:after {*/
/*left: 50%;*/
/*}*/

/*.tgl-light + .tgl-btn {*/
/*background: #f0f0f0;*/
/*border-radius: 2em;*/
/*padding: 2px;*/
/*transition: all .4s ease;*/
/*}*/
/*.tgl-light + .tgl-btn:after {*/
/*border-radius: 50%;*/
/*background: #fff;*/
/*transition: all .2s ease;*/
/*}*/
/*.tgl-light:checked + .tgl-btn {*/
/*background: #9FD6AE;*/
/*}*/


/* MODAL */

/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    z-index: 4;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    font-size: 1rem;
}

.modal__btn {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}


.NEU{
    color: #BCBEC0;
}
.FER{
    color: #5e94cf;
}
.HAP{
    color: #e7c540;
}
.SAD{
    color: #d27e35;
}
.SUR{
    color: #88579f;
}
.DIS{
    color: #6ab79a;
}
.ANG{
    color: #ce4d41;
}

.NEU .uk-checkbox:checked{
    background-color : #BCBEC0;
}
.FER .uk-checkbox:checked{
    background-color : #5e94cf;
}
.HAP .uk-checkbox:checked{
    background-color : #e7c540;
}
.SAD .uk-checkbox:checked{
    background-color : #d27e35;
}
.SUR .uk-checkbox:checked{
    background-color : #88579f;
}
.DIS .uk-checkbox:checked{
    background-color : #6ab79a;
}
.ANG .uk-checkbox:checked{
    background-color : #ce4d41;
}



#emotions label {
    font-weight: bold;
}

#overview {
    position: relative;
    width: 15vw;
    height: 40vh;
    /*padding: 50px 25px 50px 25px;*/
}